:root {
  --loading-bg: url('https://res.cloudinary.com/dof2yrkux/image/upload/v1746281183/icon/loading.gif') center/contain no-repeat;
}

[hidden] {
  display: none !important;
}

button {
  cursor: pointer !important;
}

html {
  margin: 0 auto;
  max-width: 800px;
}

body,
textarea {
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Meiryo", sans-serif;
}

#session-list-wrapper {
  position: fixed;
  z-index: 1;
  top: 10%;
  bottom: 10%;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
  text-align: center;
}

#session-list-wrapper[data-loading="true"]::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  background: var(--loading-bg);
}

#session-list {
  display: flex;
  flex-flow: column;
  max-height: 100%;
  overflow-y: auto;
}

#session-list ul {
  margin: 0;
  padding: 0;
}

#session-list li {
  padding: .5rem;
  border-top: 1px solid #888;
  list-style-type: none;
}

#session-list button.session-name {
  all: unset;
  padding: .25rem;
  font-size: 1.5rem;
  color: #000;
  font-weight: bold;
}

#session-list button:is(.session-rename, .session-delete) {
  all: unset;
  padding: .25rem;
  text-decoration: underline;
}

#chat {
  margin-bottom: 50%;
}

#chat[data-loading="true"] {
  content: "";
  display: block;
  margin: 0 auto;
  width: 32px;
  height: 32px;
  background: url(https://res.cloudinary.com/dof2yrkux/image/upload/v1746281183/icon/loading.gif) center / contain no-repeat;
}

.user {
  margin-left: auto;
  width: 80%;
  padding: .5rem;
  border-radius: .5rem;
  background-color: #eee;
  white-space: pre-line;
}

.model {
  padding: .5rem;
}

.model[data-loading="true"]::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background: var(--loading-bg);
}

.user-image {
  display: flex;
  flex-wrap: wrap;
  margin: .5rem 0;
  gap: 1em;
}

.user-image:empty {
  margin: 0;
}


#chat .user-image {
  justify-content: end;
}

:is(#chat, #input) figure {
  position: relative;
  margin: 0;
  border: 1px solid #aaa;
  padding: .5rem;
}

:is(#chat, #input) figure[data-uploading="true"] {
  opacity: .5;
}

:is(#chat, #input) figure[data-uploading="true"]::after {
  content: "";
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  background: var(--loading-bg);
}

:is(#chat, #input) figure img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

:is(#chat, #input) figure .button-delete-image {
  position: absolute;
  top: -.5rem;
  right: -.5rem;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  border: 1px solid #aaa;
  background-color: #fff;
}

#generate-from-middle {
  display: block;
  margin: .5rem auto 1rem;
  border: none;
  background-color: #008;
  color: #fff;
  width: 2rem;
  height: 2rem;
  padding: .25rem;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 1rem;
}

#input {
  border-top: 1px solid #eee;
  box-sizing: border-box;
  padding: .25rem .5rem .25rem .25rem;
  background-color: #fff;
}

#input:not(.for-iphone) {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  top: auto !important;
}

#input.for-iphone {
  position: absolute;
  left: 0;
  width: 100%;
}

#input textarea {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  border: none;
  padding: .5rem 2rem .5rem .5rem;
  width: 100%;
  max-height: 7rem;
  font-size: 1rem;
  resize: none;
  background-color: transparent;
}

#autoscroll {
  position: absolute;
  bottom: 3rem;
  right: .5rem;
  background-color: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: .5rem;
  border: 1px solid #55f;
  padding: 0;
  color: #55f;
  font-size: .75rem;
}

#generate {
  position: absolute;
  bottom: .5rem;
  right: .5rem;
  border: none;
  background-color: #000;
  color: #fff;
  width: 2rem;
  height: 2rem;
  padding: 0;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 1rem;
}

#generate:active {
  background-color: #888;
}

#generate:disabled {
  background-color: #aaa;
}

#cut-tail {
  position: absolute;
  bottom: .5rem;
  right: .5rem;
  background-color: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: .5rem;
  border: 1px solid #080;
  padding: 0;
  color: #080;
  font-size: .75rem;
}

#error-message {
  position: absolute;
  top: -5rem;
  left: 2rem;
  right: 2rem;
  height: 5rem;
  white-space: pre;
  overflow-y: scroll;
  border: 1px solid #faa;
  padding: .25rem;
  background-color: #fee;
  font-size: .5rem;
}

#menu {
  position: fixed;
  z-index: 2;
  top: .5rem;
  left: .5rem;
  user-select: none;
}

#image-list-menu {
  position: fixed;
  z-index: 2;
  top: .5rem;
  right: .5rem;
  user-select: none;
  text-align: right;
}

#menu details {
  border: 1px solid #ccc;
  border-radius: .5rem;
  background-color: #fff;
  cursor: pointer;
}

#image-list-menu details {
  border: 1px solid #800;
  border-radius: .5rem;
  background-color: #fff;
  color: #800;
  cursor: pointer;
}

#image-list {
  display: flex;
  flex-flow: row wrap;
  margin: .5em;
  max-width: 80vw;
  gap: 1em;
  justify-content: end;
}

#image-list figure {
  position: relative;
  margin: 0;
}

#image-list img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

#image-list button.button-use-image {
  position: absolute;
  top: -.5rem;
  left: -.5rem;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  border: 1px solid #aaa;
  background-color: #fff;
}

:is(#menu, #image-list-menu) details:not([open]) {
  opacity: .1;
}

:is(#menu, #image-list-menu) summary {
  padding: .5rem;
  list-style: none;
}

:is(#menu, #image-list-menu) summary::-webkit-details-marker {
  display: none;
}

#menu ul {
  margin: 0;
  padding: .5rem;
}

#menu li {
  list-style-type: none;
}

#menu button {
  all: unset;
  padding: .5rem;
}

#menu button:active {
  background-color: #ddd;
}

#updating {
  position: fixed;
  top: 0;
  right: 0;
}

#updating figure {
  margin: 0;
  display: inline-block;
  width: 1em;
  height: 1em;
  text-align: center;
  font-weight: bold;
  background-color: #ccc;
  color: #fff;
}