[hidden] {
  display: none !important;
}

html {
  margin: 0 auto 0;
  max-width: 800px;
}

body,
textarea {
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

#chat {
  margin-bottom: 50%;
}

.user {
  margin-left: auto;
  width: 80%;
  padding: .5em;
  border-radius: .5em;
  background-color: #eee;
  white-space: pre-line;
}

.model {
  padding: .5em;
}

.model[data-status="loading"]::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background-image: url('https://res.cloudinary.com/dof2yrkux/image/upload/v1746281183/icon/loading.gif');
  background-size: contain;
  background-repeat: no-repeat;
}


#generate-from-middle {
  display: block;
  margin: .5em auto 1em;
  border: none;
  background-color: #008;
  color: #fff;
  width: 2em;
  height: 2em;
  padding: .25em;
  border-radius: 1em;
  font-weight: bold;
  font-size: 1em;
}

#input {
  position: fixed;
  left: 0;
  bottom: 0;
  border-top: 1px solid #eee;
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  background-color: #fff;
}

#input textarea {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  border: none;
  padding: .5em;
  width: 100%;
  max-height: 7em;
  font-size: 1em;
  resize: none;
  background-color: transparent;
}

#generate {
  position: absolute;
  bottom: .5em;
  right: .5em;
  border: none;
  background-color: #000;
  color: #fff;
  width: 2em;
  height: 2em;
  padding: 0;
  border-radius: 1em;
  font-weight: bold;
  font-size: 1.5em;
}

#generate:active {
  background-color: #888;
}

#generate:disabled {
  background-color: #aaa;
}

#menu {
  position: fixed;
  top: .5em;
  left: .5em;
  user-select: none;
}

#menu details {
  border: 1px solid #ccc;
  border-radius: .5em;
  background-color: #fff;
  cursor: pointer;
}

#menu details:not([open]) {
  opacity: .1;
}

#menu summary {
  padding: .5em;
  list-style: none;
}

#menu summary::-webkit-details-marker {
  display: none;
}

#menu ul {
  margin: 0;
  padding: .5em;
}

#menu li {
  list-style-type: none;
}

#menu button {
  all: unset;
  padding: .5em;
}

#menu button:active {
  background-color: #ddd;
}